.HOVER {
  --width: 100%;
  --time: 0.5s;

  position: relative;
  display: inline-block;
  height: 500px;
  padding: 100px;

  color: white;
  background: #222;
  overflow: hidden;
}

.HOVER div {
  position: relative;
  z-index: 5;

  transition: color var(--time);
}

.HOVER:hover div {
  color: #222;
}

.HOVER span {
  position: absolute;
  display: block;
  content: "";
  z-index: 0;
  width: 50px;
  padding-top: 50px;
  height: 0;
  border-radius: 100%;
  background: #fff;

  transform: translate(-50%, -50%);
  transition: width var(--time), padding-top var(--time);
}

.HOVER:hover span {
  width: calc(var(--width) * 5.5);
  padding-top: calc(var(--width) * 5.5);
}
